
body {
    background-color: antiquewhite;
    color: white;
    font-family: "Karla";
    font-size: 18px;    
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    /* position: sticky; */
    top: 0;
}

h1, h2, h3, h4 {
    font-family: "Exo 2";
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 10%;
}

.flex_container {
    display: flex;
    justify-content: center;
}

.text_item {
    display: grid;
    place-items: center;
    min-width: 150px;
    background-color: rosybrown;
    border-radius: 25px;
    margin: 10px;
    padding: 0px 20px 20px 20px;
}

.head_item {
    display: grid;
    place-items: center;
}

.iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
  }

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
}

.parallax {
    /* The image used */
    background-image: url("ebba_foto.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.buttons {
    width: 150px;
}

#ebba-header {
    width: 70%;
    padding-top: 10px;
    border-radius: 25px;
}

#portrait {
    width: 100%;
    border-radius: 25px;
}

